:root {
    /* Font sizes */
    --text-body: 1rem;
    --text-overline: 0.875rem;
    --text-small: 0.75rem;

    /* Font weights */
    --font-light: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* Colors */
    --gray: hsl(0, 0%, 45%);
    --gray-light: hsl(0, 0%, 65%);
    --gray-dark: hsl(0, 0%, 25%);
}

a {
    text-decoration: none;
}

body,
html {
    min-height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}


.desktop-menu {
    border: 1px dotted blue;
    border-radius: 12px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    transform-origin: 50% -50px;
    transition: 0.25s ease transform;
    will-change: transform;
}

.desktop-menu:active {
    transform: translateX(-50%) rotateX(-15deg);
}

.desktop-menu__column {
    margin: 0 3rem;
}

.desktop-menu__column:first-of-type { margin-left: 0; }
.desktop-menu__column:last-of-type { margin-right: 0; }

.desktop-menu__column-title {
    color: var(--gray-light);
    font-size: var(--text-overline);
    font-weight: var(--font-medium);
    margin: 0 0 2rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.desktop-menu__column-title--compact {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.desktop-menu__section {
    left: 0;
    opacity: 0;
    padding: 2.5rem 2rem;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: 0.25s ease opacity, 0.25s ease transform;
    will-change: opacity, transform;
}

.desktop-menu__section--visible {
    opacity: 1;
    transform: translateX(0px);
}

.desktop-menu__section-content {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.desktop-menu__section-footer {
    background-color: hsl(0, 0%, 96%);
    align-items: flex-start;
    display: flex;
    padding: 2.5rem 2rem;
    position: relative;
    margin-left: -2rem;
    margin-top: 2rem;
    width: calc(100% + 4rem);
    z-index: 1;
}

.desktop-menu__section-footer .menu-link p {
    background-color: hsl(0, 0%, 96%);
}

.desktop-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.desktop-nav__logo {
    font-size: 1.25rem;
    font-weight: 700;
}

.desktop-nav__options button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    margin: 0 0.25rem;
    padding: 0.25rem 0.75rem;
}

.header {
    border: 1px dotted red;
    margin: 1.5rem auto;
    max-width: 1050px;
    position: relative;
    perspective: 2000px;
}

.menu-link {
    align-items: flex-start;
    display: flex;
    margin-bottom: 2rem;
    white-space: nowrap;
}

.menu-link:last-of-type {
    margin-bottom: 0;
}

.menu-link:hover .hidden-arrow {
    opacity: 1;
    transform: translate(75%, -50%);
}

.menu-link:hover small {
    color: var(--gray-dark);
}

.menu-link:hover > span {
    color: var(--gray);
}

.menu-link:hover p {
    color: black;
}

.menu-link--compact {
    margin-bottom: 1rem;
}

.menu-link > span {
    color: var(--gray-light);
    margin-right: 0.5rem;
    transition: 0.25s ease color;
}

.menu-link img {
    max-height: 44px;
    max-width: 44px;
    margin-right: 1rem;
}

.menu-link p {
    background-color: white;
    color: var(--gray-dark);
    font-size: var(--text-overline);
    font-weight: var(--font-medium);
    line-height: 1;
    margin: 0;
    padding: 0.25rem 0.5rem 0.25rem 0;
    position: relative;
    transition: 0.25s ease color;
    width: fit-content;
}

.menu-link small {
    color: var(--gray);
    font-size: var(--text-small);
    font-weight: var(--font-medium);
    transition: 0.25s ease color;
}

.menu-link.top-link {
    margin-bottom: 2rem;
}

.hidden-arrow {
    display: inline-block;
    font-size: var(--text-body);
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.15s ease transform, 0.35s ease opacity;
    will-change: transform, opacity;
    z-index: -1;
}

.simple-link {
    color: var(--gray);
    display: block;
    font-size: var(--text-overline);
    margin-bottom: 1rem;
    margin-left: 2rem;
    transition: 0.25s ease color;
}

.simple-link:hover {
    color: var(--gray-dark);
}
